.line1{
    margin-top: 350px;
}
body{
    text-align: center;
}
.firststop{
    margin-bottom: 300px;
}
.map h2{
    margin: 30px;
    position: relative;
}
.map h2:nth-child(1){
    right: 300px;
}
.map h2:nth-child(2){
    right: 200px;
}
.map h2:nth-child(3){
    right: 100px;
}
.map h2:nth-child(4){
    right: 200px;
}
.map h2:nth-child(6){
    right: 300px;
}
.map h2:nth-child(7){
    right: 250px;
}
.map h2:nth-child(9){
    left: 100px;
}