body{
    margin: 0px;
}
.background{
    position: relative;
    margin: 0px;
    padding: 0px;
    height: 300vh;
    background-image: url("media/shiny.JPG");
}
.background a{
    position: absolute;
    right: 100px;
    bottom: 200px;
    font-size: 100px;
}