.line1{
    margin-top: 350px;
}
body{
    text-align:justify;
    line-height: 100px;
    overflow-wrap: anywhere;
}
.thoughts{
    position: relative;
    letter-spacing: 30.1px;
}
.thoughts span:nth-child(2){
    position:relative;
    left: -100px;
}
.enough{
font-weight: bold;
font-size: 30px;
}
